{% extends 'usermanagement/base.html' %}

{% block content %}
	 <a href="/" style = "background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;">Back to homepage</a>

    <a href="/list" style = "background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;">List All Users</a>
    <h1>New User</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

    
{% endblock %}